<div class="py-3  mt-4 border-top">
    <div class=" text-center">
        <small class="text-light" style="opacity:0.7;">
            Crafted with ❤️ by <b>Ryal Rafter</b>
        </small>
    </div>
</div>