<header class="p-5 pb-0">
    <h1 style="display:inline;"><a href="/">My Notebook.</a></h1>
    {{#if isAuthenticated}}
      <a href="/auth/logout" class="btn btn-danger p-1" >Logout</a>
    {{/if}}
</header>
<style>
    header h1 a{
        text-decoration: none;
        color: #fff;
    }
</style>